<template>
  <div
    class="category-table__column"
    :class="{ 'category-table__column--active': active }"
  >
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "Column",
  props: {
    active: {
      type: Boolean,
      default: false,
    },
  },
};
</script>
