<template>
  <RowWrapper :sub="sub">
    <CategoryToggler v-if="hasChilds" :opened="isOpened" @toggle="toggle" />
    <Row>
      <Column v-for="col in columns">{{ data[col.prop] }}</Column>
    </Row>
    <CategoryWrapper v-if="hasChilds && isOpened">
      <Category
        v-for="itemData in data.children"
        :data="itemData"
        :columns="columns"
        sub
      />
    </CategoryWrapper>
  </RowWrapper>
</template>

<script>
import Row from "@/components/CategoryTable/components/Row.vue";
import Column from "@/components/CategoryTable/components/Column.vue";
import RowWrapper from "./components/RowWrapper.vue";
import CategoryWrapper from "./components/CategoryWrapper.vue";
import CategoryToggler from "./components/CategoryToggler.vue";

export default {
  name: "Category",
  components: {
    Row,
    Column,
    RowWrapper,
    CategoryWrapper,
    CategoryToggler,
  },
  props: {
    data: {
      type: Object,
      required: true,
    },
    columns: {
      type: Array,
      required: true,
    },
    sub: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      isOpened: false,
    };
  },
  computed: {
    hasChilds() {
      return this.data?.children?.length > 0 || false;
    },
  },
  methods: {
    toggle() {
      this.isOpened = !this.isOpened;
    },
  },
};
</script>
