<template>
  <div class="category__toggle" @click="toggle">
    <mdicon :name="opened ? 'chevron-down' : 'chevron-right'" />
  </div>
</template>

<script>
export default {
  name: "CategoryToggler",
  props: {
    opened: {
      type: Boolean,
      required: true,
    },
  },
  methods: {
    toggle() {
      this.$emit("toggle");
    },
  },
};
</script>

<style lang="scss">
.category__toggle {
  cursor: pointer;
  position: absolute;
  margin-left: -1em;
  margin-top: 1em;
}
</style>
