<template>
  <div class="category__wrapper">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "CategoryWrapper",
  props: {
    sub: {
      type: Boolean,
      default: false,
    },
  },
};
</script>
