<template>
  <div
    class="category__row-wrapper"
    :class="{ 'category__row-wrapper--sub': sub }"
  >
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "RowWrapper",
  props: {
    sub: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss">
.category__row-wrapper {
  padding-left: 4em;
  &--sub {
    padding-left: 4em;
  }
}
</style>
