.alert {
  background: #f3f3f3;
  border: 1px solid #bebebe;
  padding: 2em;
  border-radius: 8px;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
  }
}
