<template>
  <Wrapper>
    <Header>
      <Row>
        <Column
          v-for="col in columns"
          :active="col.prop === filteredColumn"
          @click="!col.notFilter && toggleFilter(col.prop)"
        >
          {{ col.title }}
          <mdicon
            v-if="col.prop === filteredColumn"
            :name="filteredColumnType === 'desc' ? 'arrow-up' : 'arrow-down'"
            size="16"
          />
        </Column>
      </Row>
    </Header>
    <Body>
      <Category
        v-for="itemData in filteredItems"
        :data="itemData"
        :columns="columns"
      />
    </Body>
    <Footer>
      <Row>
        <Column v-for="(col, idx) in columns">
          {{ totals[idx] }}
        </Column>
      </Row>
    </Footer>
  </Wrapper>
</template>

<script>
import "./index.scss";
import Row from "./components/Row.vue";
import Column from "./components/Column.vue";
import Wrapper from "./components/Wrapper.vue";
import Header from "./components/Header.vue";
import Body from "./components/Body.vue";
import Footer from "./components/Footer.vue";
import Category from "../Category/index.vue";
import { stringifyStyle } from "@vue/shared";

export default {
  name: "CategoryTable",
  components: { Row, Column, Wrapper, Header, Body, Footer, Category },
  props: {
    data: {
      type: Object,
      required: true,
    },
    columns: {
      type: Array,
      required: true,
    },
    filteredBy: {
      type: String,
      required: true,
    },
    filteredType: {
      type: String,
      default: "desc",
    },
  },
  data() {
    return {
      filteredColumn: this.filteredBy,
      filteredColumnType: this.filteredType,
    };
  },
  computed: {
    totals() {
      const totals = {};
      this.columns.forEach((c, idx) => {
        this.data?.items.forEach((i) => {
          totals[idx] = c.totalProp
            ? (totals[idx] || 0) + i[c.totalProp]
            : c.totalTitle;

          /* 
              Здесь должна быть логика рассчёта процентов, но она не была указана в ТЗ.
              Относительно изображения неизвестно как имеющиеся значения привести к 2.33%
            */
        });
        if (c.precent) {
          totals[idx] = `${totals[idx]}%`;
        }
      });
      return totals;
    },
    filteredItems() {
      return this.filterItems(this.data.items);
    },
  },
  methods: {
    toggleFilter(column) {
      if (column === this.filteredColumn) {
        this.filteredColumnType =
          this.filteredColumnType === "desc" ? "asc" : "desc";
      } else {
        this.filteredColumnType = "desc";
        this.filteredColumn = column;
      }
    },
    filterItems(items) {
      return items
        .map((i) =>
          i?.children?.length
            ? { ...i, children: this.filterItems(i.children) }
            : i
        )
        .sort((a, b) =>
          this.filteredColumnType === "asc"
            ? a[this.filteredColumn] - b[this.filteredColumn] || 0
            : b[this.filteredColumn] - a[this.filteredColumn] || 0
        );
    },
  },
};
</script>
