.category-table {
  font-size: 13px;
  position: relative;
  &__row {
    display: grid;
    grid-template-columns: 1fr repeat(7, auto);
    &:after {
      content: "";
      height: 1px;
      background: var(--color-border);
      width: 100%;
      left: 0px;
      position: absolute;
    }
  }
  &__column {
    min-width: 100px;
    padding: 1.25em;
    &--active {
      color: #464646;
    }
  }
  &__header,
  &__footer {
    font-weight: 600;
  }
  &__header {
    user-select: none;
    & .category-table__column {
      opacity: 0.7;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        opacity: 1;
      }
      &--active {
        opacity: 1;
      }
    }
  }
  &__footer {
    border-top: 1px solid var(--color-border-darker);
    background: var(--color-bg);
  }
}
