@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --color-text-basic: #303030;
  --color-text-secondary: #696969;
  --color-border: #ebebeb;
  --color-border-darker: #c5c5c5;
  --color-bg: #dddddd;
}

html,
body {
  margin: 0px;
  min-width: 100%;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: var(--color-text-basic);
}
