<template>
  <main>
    <CategoryTable
      v-if="isLoaded"
      :data="data"
      :columns="columns"
      filtered-by="countView"
      filtered-type="desc"
    />
    <Alert v-if="isUnavailable">Не удалось подключиться к серверу</Alert>
  </main>
</template>

<script>
import columns from "@/shared/columns.js";
import CategoryTable from "./components/CategoryTable/index.vue";
import { API_URL } from "./shared/config";
import Alert from "./components/Alert/index.vue";

export default {
  components: { CategoryTable, Alert },
  data() {
    return {
      isLoaded: false,
      isUnavailable: false,
      data: {
        items: [],
        count: 0,
      },
      columns,
    };
  },
  created() {
    this.loadData();
  },
  methods: {
    async loadData() {
      try {
        const { data } = await this.axios.get(API_URL);
        this.data = data;
        this.isLoaded = true;
      } catch (e) {
        this.isUnavailable = true;
      }
    },
  },
};
</script>

<style scoped></style>
